body,h1 {
    font-family: "Raleway", sans-serif
}

body, html { 
    height: 100%
}

.bgimg {
    background-image: url('../img/wheat-fhd.jpg');
    min-height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bglayer {
    background-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;  
}

.social-links {
    margin-top: 30px;
}
  
.social-links a {
    font-size: 24px;
    display: inline-block;
    color: white;
    line-height: 1;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 8px;
    margin-bottom: 8px;
    transition: 0.3s;
}

.twitter:hover {
    color: #00ACEE;
}

.instagram:hover {
    color: #DD2A7B;
}

.reddit:hover {
    color: #FF4500;
}

.youtube:hover {
    color: #FF0000;
}


.telegram:hover {
    color: #0088CC;
}

.github:hover {
    color: #333;
}

.mail:hover {
    color: #34A853;
}

.paypal:hover {
    color: #3B7BBF;
}

.social-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: space-evenly;
}